bridges = []
persistence_dir = ''
ui_bundles = []
ui_interfaces = []

[[agents]]
id = 'hc-run-agent'
keystore_file = './keystore2.key'
name = 'testAgent'
public_address = 'HcSCIJdu6fttc975tt8Fi8fak3hqBjg7ot4KWs7n83RsV4yeD8xuBaXC565o69r'

[[dnas]]
file = './dist/holo-invaders-back.dna.json'
hash = 'QmWENFjojvC9MdoT8HXzm1E2wNDsTmKqH2dYuc9rgY85nf'
id = 'hc-run-dna'

[[instances]]
agent = 'hc-run-agent'
dna = 'hc-run-dna'
id = 'invaders'

[instances.storage]
type = 'memory'

[[interfaces]]
admin = true
id = 'websocket-interface'

[[interfaces.instances]]
id = 'invaders'

[interfaces.driver]
port = 8888
type = 'websocket'

[logger]
state_dump = true
type = 'debug'

[logger.rules]
rules = []

[passphrase_service]
type = 'cmd'

[signals]
consistency = false
trace = false
[network]
type='sim2h'
    sim2h_url= 'ws://localhost:9000'
